{{!-- giphy embeded, h1 title for web app --}}
<div class="burger-title">

    <iframe src="https://giphy.com/embed/ToMjGplHPoYqSg7oACc" width="200" height="200" frameBorder="0"
        class="giphy-embed" allowFullScreen>
    </iframe>
        <h1 class="text-center">EAT-DA-BURGER!</h1>
</div>
      