{{!-- giphy embeded, h1 title for web app --}}
<div class="burger-title">

    <iframe src="https://giphy.com/embed/ToMjGplHPoYqSg7oACc" width="200" height="200" frameBorder="0"
        class="giphy-embed" allowFullScreen>
    </iframe>
        <h1 class="text-center">EAT-DA-BURGER!</h1>
</div>
   {{!-- Burgers to be devoured --}}
<div class="container">
  <div class="row">
    <div class="col-md">
      <h2>Burgers to be Devoured!</h2>
      <ul>
        {{#each burger}}
        {{#unless devoured}}
        {{> burgers/burger-block Devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    {{!-- burgers which have been devoured --}}
    <div class="col-md">
      <h2>No Food!</h2>
      <ul>
        {{#each burger}}
        {{#if devoured}}
        {{> burgers/burger-block Devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{!-- form for adding new burgers --}}
  <div class="row justify-content-center">
    <div class="col-md-6 text center">
        <form class="create-form">
            <div class="form-group">
                <label for="new-burger">/label>
                <textarea class="form-control" id="new-burger" rows="3" name="burgername"></textarea>
            </div>
            <!-- button for adding new burgers-->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>  